@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
html{min-height:100%;font-family:"Gill Sans MT";    position: relative;    overflow-x: hidden;}
body{ -webkit-text-size-adjust: none;/*padding-bottom:160px;*//*padding-top:20px;*/}
.bg{background-image:url(../imgs/vai.png);height:500px;  opacity:1.0;background-color:#000}
.body_one{background-color:white; position: relative;padding-top:20px }
.txt{color:#fff;padding-left:400px;font-size:40px;opacity: 1;margin-top:369px;}
.container2 {display: inherit;height: 100%;   padding-right: 15px; padding-left: 15px;margin-right: auto;margin-left: auto;margin-top:20px;margin-bottom:20px;}
.body_gray{text-align:center;background-color:#d0d0d0;padding-bottom:30px;padding-top:30px}
.title_1{padding-left:100px;padding-right:100px;font-size:20px; color:#808080;padding-top:20px}
.imgs{padding-left:45px;margin-top:-70px;}
.pd_t_30{padding-top:30px;}
.pd_b_30{padding-bottom:30px;}
.pd_r{text-align:right;padding-right:50px;}
.img_1{padding-left:100px;}
.border_b{border-bottom:solid;border-width:3px;border-bottom-color:#fff;}
.txt2{text-align:center;font-size:50px;color:#e52424}
.txt_content{text-align:center;}
.btn{ background-color:rgb(242,102,81); height:40px;width:100px;border-radius:40px;font-size:13px;color:#fff;}
.stdtitle{background-color:#808080;color:white;font-size:30px;width:350px;height:50px;text-align:center;border-radius:40px;line-height:50px;margin-top:10px;}
.studentbody{margin-left:350px;text-align:center;}
.studentbody img{opacity:0.7}
.td1{ background-color:#d2d2d2;height:40px;width:100px;}
.td2{ background-color:#fff;width:200px;}
.classtitle{  background-color:#808080;color:white;font-size:30px;width:400px;height:50px;text-align:center;border-radius:40px;line-height:50px;margin-top:30px;margin-left:200px;}
.login_t{ color:rgb(127,127,127); font-size:30px;text-align:right;   }
.register{color:#fff;text-align:right;line-height:30px }
.right{float:left;text-align:right;line-height:50px;}
.left{line-height:50px;padding:20px;float:left;margin-left:150px;}
.center{line-height:50px;margin-left:500px}
.o{width:150px;color:#000;margin-right:30px}
.tcontent{
    font-family:'Microsoft JhengHei'
}
.v_title{
    margin-top:70px;margin-left:20px;font-size:30px;
}
.gvStyle {
 border: 2px solid #CCC;
width:700px
}
/*Header 標題*/
.gvStyle th
{
    background-color: #E2EAF2;
    font-weight: lighter;
    border: 1px solid #ccc;
    height:25px;
    text-align:center;
}
/*OnMouseOver 滑鼠移過列表時, 背景色變更*/
.gvStyle tr:hover
{
    background-color:#FFF4DA;
}
/*Rows 列表顏色*/
.gvStyle td
{
    border: 1px solid #ccc;
 height:25px;
 text-align:center;
}
/*Change Rows 如果想要有單、雙列不同顏色替換, 在這裡更換*/
.gvStyle .alt
{
    background-color:#efefef;
    border: 1px solid #ccc;
 height:25px;
}
/*Page 分頁顏色*/
.gvStyle .pgr table
{
    margin-left:auto;
    margin-right:auto;
}
.gvStyle .pgr td
{
    background-color:#E2EAF2;
    border-width: 0px;
    padding:0px 3px 0px 3px;
}
.gvStyle .pgr a
{
    color: #666; text-decoration:underline;
    padding:0px 3px 0px 3px;
}
.gvStyle .pgr a:hover
{
    color: #FF0000; text-decoration: none;
}
.mg{
    margin-top:20px;
}
.footer{background-color:#ebebeb; line-height:30px; text-align:right;font-size:15px;padding-bottom:5px;color:#7c7c7c; height: 50px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    width:100%;
   
 }
img{
    height: auto;
     max-width: 100%;
     
}
.a1{color:#fff;
       
}
.a1:hover{
   color:#808080;
   padding-top:-20px;
   transition:color 3s;
    -moz-transition:color 3s;
    -webkit-transition:color 3s;
    -o-transition:color 3s;  
}
.a2 {
    color: #000;
    font-size: 60px;
}


nav li.dropdownlist {
    display: inline-block;
    padding-top: 15px;
    margin-right: 50px;
    font-size:19px;
  
    
}
a{
    color:#fff
}
nav li.logo {
    display: inline-block;
    float: left;
    position: absolute;
    left: 5vw;
 
}
.ull {
    height: 50px;
    list-style-type: none;
    text-align: right;
  
}
.container{
height:100%;
left: 50%;            /*從左邊開始算，右推 50% (一半) 的位置*/
right:50%  ;                     /*寬度1070px的一半*/
 
 
   /*從上面開始算，15px的位置*/
}
.video-container{

position:relative;

padding-bottom:56.25%;

padding-top:30px;height:0;overflow:hidden;

}


.coverflow{

   /*width:   1333px;*/
   height: 648px;
    position: relative;
  
    background-color: rgb(127,127,127);
  
}
.coverflow  div{
  position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);

     -webkit-animation: round 20s linear infinite;
            animation: round 20s linear infinite;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}


.coverflow div:nth-child(5) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}
.coverflow div:nth-child(4) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.coverflow div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.coverflow div:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.coverflow div:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.coverflow  span , .info {    
    color: #000;
    background: #fff;
    position: absolute;
    left: 0%;
    top: 280px;
    width: 400px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    -webkit-transform:scaleY(0);
        -ms-transform:scaleY(0);
            transform:scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.coverflow :hover span {
    width: 100%;
    -webkit-transform:scaleY(1);
        -ms-transform:scaleY(1);
            transform:scaleY(1);
}



 

.video-container iframe,

.video-container object,

.video-container embed{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

}


  a:hover
        {
            color: gold;
        }
.signbtn{
    margin-top:80px; text-align:center;font-size:20px;
}

#menu {
    z-index:1;
  position:fixed;
  left: 0%;
  top: 50%;
  width: 10em;
  margin-top: -2.5em;
  color:#eac100 ;
  font-size:20px;
  margin-right:-100px;
}
@media(max-width:768px){
    .coverflow{
    max-width:100%
    }
}
